<div class="row justify-content-center mb-3">
    <div class="btn-group col-8" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="act()">Viaje actual</button>
        <button type="button" class="btn btn-primary" (click)="historial()">Historial</button>
    </div>
</div>
<div id="viajeActual" *ngIf="actual">
    <div class="row justify-content-center">
        <div class="col-8">
            <label for="hash" class="col-form-label">Hash de la transación</label>
            <input type="text" id="hash" class="form-control" aria-describedby="passwordHelpInline">
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-8 justify-content-center">
            <button class="btn btn-primary" type="button" (click)="buscar()">Inicio de viaje</button>
        </div>
    </div>
    <br> 
    <div class="row justify-content-center">
        <div class="col-4">
            <p>Destino: {{dataInit.destination}}</p>
        </div>
        <div class="col-4">
            <p>Origen: {{dataInit.origin}}</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <p>Usuario: {{dataInit.passenger}}</p>
        </div>
        <div class="col-4">
            <p>Costo: {{dataInit.amount}}</p>
        </div>
    </div>
    
    <div class="row justify-content-center mt-3">
        <div class="col-8 justify-content-center">
            <button class="btn btn-primary" type="button" [disabled]="!validated" (click)="terminar()">Terminar viaje</button>
        </div>
    </div>
</div>
<div id="historial" *ngIf="!actual">
    <div class="row justify-content-center">
        <div class="col-6">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Transacción</th>
                        <th scope="col">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let trans of transacciones">
                        <td><button style="border: none; background-color:#fff;" (click)="getSpecificTrip(trans.transHash)">{{trans.transHash}}</button></td>
                        <td>{{trans.timestamp}}</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="detalle">
        <div class="row justify-content-center">
            <div class="col-6">
                <app-detalle-historial [esUsuario]=false [infoTrans]="trans"></app-detalle-historial>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Punto de acceso</th>
                            <th scope="col">Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ap of aps">
                            <td>{{ap.ap}}</td>
                            <td>{{ap.timestamp}}</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
    </div>
</div>
